
  <div class="container">
  <div class="sheet-wrap">
    <div class="row">
      <div class="col s6">
    <div class="add-sheet-to-course">
      <%= render 'link_add_sheet_to_course' %>
    </div>
        <div class="sheet-text">
          <h1><%= @sheet.title %></h1>
          <%= render 'article_content' %>
          <button class='facebook-share' id='sheets/<%= @sheet.id %>' >SHARE ON FACE</button>
        </div>
      </div>

      <div class="col s6">
        <br>
        <div class="row">
          <div id="sheet-image">
            <div class="col s11">
              <img class="responsive-img" src="<%= @sheet.image %>"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div id="sheet-map" data-location="<%= @sheet.map %>">
            <div class="col s11">

            </div>
          </div>
        </div>

        <div class="row">
          <div id="sheet-video">
            <div class="col s11">
              <div class="video-container no-controls">
                <iframe src="//www.youtube.com/embed/<%= @sheet.video_tag %>" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


