<div class="container">
  <div class="sheet-wrap">
    <div id="left">
        <div class="sheet-text">
          <h1><%= @sheet.title %></h1>
          <p><%= render html: @sheet.article_text.html_safe %></p>
          <button class='facebook-share' id='sheets/<%= @sheet.id %>' >SHARE ON FACE</button>
        </div>
    </div>

    <div id="right">
            <div class="row">
              <br>
              <div id="sheet-image">
                <div class="col s12">
                  <img class="responsive-img" src="<%= @sheet.image %>"/>
                </div>
              </div>
            </div>

            <div class="row">
              <div id="sheet-map" data-location="<%= @sheet.map %>">
                <div class="col s12">

                </div>
              </div>
            </div>

          <div class="row">
            <div id="sheet-video">
              <div class="col s12">
                <div class="video-container no-controls">
                  <iframe src="//www.youtube.com/embed/<%= @sheet.video_tag %>" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>


        </div>
    </div>
  </div>
</div>
