<div id="section">
  <div class="container">
    <div class="row center-align">
      <h2>Welcome <%= @user.first_name %> to Your Profile Page</h2>
    </div>
    <div class="row">
      <div class="col s2">
        <% if @user.avatar_url === nil %>
        <%= image_tag @user.gravatar_url, :class => "circle responsive-img" %>
        <% else %>
        <%= image_tag @user.avatar_url, :class => "circle responsive-img" %>
        <% end %>
      </div>
      <div class="col s8 offset-s1">
        <div class="row">
          <h4> First Name: <%= @user.first_name %></h4>
          <h4> Last Name: <%= @user.last_name  %></h4>
          <h4> Username: <%= @user.username %></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Your Courses</h4>
      <% @courses.each do |course| %>
      <%= render partial: "courses/course_block", locals: {course: course} %>
      <% end %>
    </div>
    <div class="row">
      <h4> Your Sheets </h4>
        <% @sheets.each do |sheet| %>
          <div class="col s3">
            <%= render partial: "sheets/sheets_block", locals: {sheet: sheet} %>
          </div>
        <% end %>
    </div>
  </div>
</div>










