<div id="section">
  <div class="container">
    <br><br><br>
    <h1>Welcome <%= @user.first_name %> to Your Profile Page</h1>
    <h3> First Name: <%= @user.first_name %></h3>
    <h3> Last Name: <%= @user.last_name  %></h3>
    <h3> Username: <%= @user.username %></h3>
    <% if @user.avatar_url === nil %>
        <%= image_tag @user.gravatar_url %>
    <% else %>
        <img src=<%= @user.avatar_url %> width="250" height="250"><br>
    <% end %>
    <br>
    <h4><a href=<%= courses_path %> id="courses">View All Courses</a><br></h4>

    <div>
        <h4> Your Courses </h4>
        <% @courses.each do |course| %>
          <%= render partial: "courses/course_block", locals: {course: course} %>
        <% end %>
    </div>

    <br>
    <div ><button class='facebook-share' id="/sheets/1">Send via facebook JS</button></div>


    <div>
        <h4> Your Sheets </h4>
        <% @sheets.each do |sheet| %>
          <%= render partial: "sheets/sheets_block", locals: {sheet: sheet} %>
        <% end %>
    </div>

  </div>
</div>
