<div class="item">

  <a href="courses/<%= course.id %>">
    <div class="course-block text-center">
      <h3><%= course.title %></h3>
      <% if @user && !@user.enrollments.include?(course) %>
        <a class="enroll" href="/courses/<%= course.id %>/enrollments">Join course</a>
      <% end %>
      <h5>Description: <%= course.description %></h5>
      <p>Location: <%= course.location %></p><br>
    </div>
  </a>
</div>

