 <h2>Now the course has been saved and you can start adding content to it</h2>
 <%= @course.inspect %>
<div class="current-content">
  <div class="article current-content">
    <!-- <%= render @course.articles %> -->
  </div>
  <div class="image current-content">
    <!-- <%= render @course.images %> -->
  </div>
  <div class="video current-content">
    <!-- <%= render @course.videos %> -->
  </div>
</div>
<div class="new-content-forms">
  <div class="new-article-form">
    <%= render 'articles/form' %>
  </div>
  <div class="new-image-form">
    <%= render 'images/form' %>
  </div>
  <div class="new-video-form">
    <%= render 'videos/form' %>
  </div>
</div>
