
<div id="section">
  <div id="<%= @course.title.downcase %>">
    <div class="container">
      <h1><%= @course.title.upcase %></h1>
    </div>
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="content">
            <div class="article current-content">

            </div>
            <div class="image current-content">

            </div>
            <div class="video cu#rrent-content">

            </div>
          </div>
        </div>
      </div>

      <div class="new-content">
        <div class="new-article-form">
          <%= render 'articles/form' %>
        </div>
        <div class="new-image-form">
          <%= render 'images/form' %>
        </div>
        <div class="new-video-form">
          <%= render 'videos/form' %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
