 <div id="section">
  <div id="<%= @course.title.downcase %>">
    <div class="container">
      <h1><%= @course.title.upcase %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="current-content">
    <div class="article current-content">

    </div>
    <div class="image current-content">

    </div>
    <div class="video current-content">

    </div>
  </div>
  <div class="new-content-forms">
    <div class="new-article-form">
      <%= render 'articles/form' %>
    </div>
    <div class="new-image-form">
      <%= render 'images/form' %>
    </div>
    <div class="new-video-form">
      <%= render 'videos/form' %>
    </div>
  </div>
  <br>
</div>
