<h2>Now the course has been saved and you can start adding content to it</h2>
<%= @course.inspect %>

<div class="content">
  <div class="article current-content">
    <!-- <%= render @course.articles %> -->
  </div>
  <div class="image current-content">
    <!-- <%= render @course.images %> -->
  </div>
  <div class="video cu#rrent-content">
    <!-- <%= render @course.videos %> -->
  </div>
</div>

<div class="new-content-forms">
  <div class="new-article-form">
    <h2>Article form</h2>
    <%= render 'articles/form' %>
  </div>
  <div class="new-image-form">
    <h2>Image form</h2>
    <%= render 'images/form' %>
  </div>
  <div class="new-video-form">
    <h2>Video form</h2>
    <%= render 'videos/form' %>
  </div>
</div>
