<div id="section">
  <div class="container">
    <h1 class="text-center">
      Create A Course
    </h1>
  </div>
</div>

<div class="container">

  <%= form_for @course do |f| %>
    <%= f.label :title %>:
    <%= f.text_field :title %><br />

    <%= f.label :short_desc %>:
    <%= f.text_field :short_desc %><br />

    <%= f.label :long_desc %>:
    <%= f.text_field :long_desc %><br />

    <%= f.label :location %>:
    <%= f.text_field :location %><br />

    <%= f.submit "Create new course" %>
  <% end %>
</div>






