<div class="course-item item" data-id="<%= course.id %>">

  <a href="courses/<%= course.id %>">
    <div class="course-block text-center">
      <h3><%= course.title %></h3>
      <% if @user && !@user.enrollments.include?(course) %>
        <a class="enroll" href="/courses/<%= course.id %>/enrollments">Join course</a>
      <% end %>
      <h5>Description: <%= course.description %></h5>
      <p>Location: <%= course.location %></p><br>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-2">
        <div id="sheet-count-<%= course.id %>" class=""></div>
      </div>
    </div>
  </a>
</div>



