<div id="section">

  <div id="<%= @course.title.downcase %>">
    <div class="container">
      <h1 class="text-center"><%= @course.title.upcase %></h1>

      <% if @relationship && !@relationship.pledged? %>
        <div class="stripe pledge ">
          <h4>Pledge your course commitment to get started!</h4>
          <%= form_tag charges_path do %>
          <input type="hidden" name="course" value="<%= @course.id %>">
          <article>
            <label class="amount">
              <span>Amount: $5.00</span>
            </label>
          </article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Commit to a course!"
                  data-amount="500"></script>
          <% end %>
        </div>
      <% else %>
          <div class="stripe pledge "><h3>You've already Pledged!</h3></div>
      <% end %>

      <div class="row">
        <h4> Members of this Course! </h4>
        <% @members.each do |member| %>
          <p>
            <img src=<%= member.avatar_url %> width="50" height="50"> - <%= member.username %>
          </p>
        <% end %>
      </div>

      <% if @course.owner == current_user %>
        <div class="row">
          <%= link_to 'New Sheet', new_course_sheet_path(@course) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @sheets.each do |sheet| %>
      <div class="col-sm-4">
        <%= render partial: "sheets/sheets_block", locals: {sheet: sheet} %>
      </div>
    <% end %>
  </div>

</div>


