<%= form_for([@course, @sheet]) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :article %><br>
    <%= f.text_field :article, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.text_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :video %><br>
    <%= f.text_field :video, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :map %><br>
    <%= f.text_field :map, class: 'form-control' %>
    <%# f.hidden_field :course_id, :value => @course %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
