<div class="item">

    <a href="sheets/<%= sheet.id %>">
      <div class="sheets-block text-center">
        <h3><%= sheet.title %></h3>
          <a href="/sheets/<%= sheet.id %>">View Sheet</a>
        <h4>Sheet: <%= sheet.title %></h4><br>
        <h5>Article: <%= sheet.article %></h5>
        <p>Image: <%= sheet.image %></p><br>
        <p>Video: <%= sheet.video %></p><br>
        <p>Map: <%= sheet.map %></p><br>

      </div>
    </a>
  </div>

