<p id="notice"><%= notice %></p>

<h1>Listing Sheets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Article</th>
      <th>Image</th>
      <th>Video</th>
      <th>Map</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheets.each do |sheet| %>
      <tr>
        <td><%= sheet.user_id %></td>
        <td><%= sheet.article %></td>
        <td><%= sheet.image %></td>
        <td><%= sheet.video %></td>
        <td><%= sheet.map %></td>
        <td><%= sheet.title %></td>
        <td><%= sheet.description %></td>
        <td><%= link_to 'Show', sheet %></td>
        <td><%= link_to 'Edit', edit_sheet_path(sheet) %></td>
        <td><%= link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet', new_sheet_path %>
