<div class="sheet-wrap">
<div class="row">
  <div class="left">
    <div class="col-sm-6">
      <h1><%= @sheet.title %></h1>
      <p><%= @sheet.description %></p>
    </div>
  </div>
  <div class="right">
    <div class="col-sm-6">
      <div id="sheet-image">
        <br>
        <div class="row">
          <div class="col-sm-12">
            <img class="img-responsive" src="<%= @sheet.image %>"/>
          </div>
        </div>
      </div>

      <div id="sheet-map" data-location="<%= @sheet.map %>">
        <div class="row">
          <div class="col-sm-12">
            <img class="img-responsive" src="http://www.techandall.com/wp-content/uploads/2013/07/Techandall_Global-Location_PSD_preview2.jpg" />
          </div>
        </div>
      </div>

      <div id="sheet-video">
        <div class="row">
          <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= @sheet.video_tag %>"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>

</div>


<script src="http://maps.googleapis.com/maps/api/js"></script>
<%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>

